<div class="top" id="<%= id%>">
    <a href="<%- url_for() %>"><img src="/avatar2.png" alt="<%= config.title %>"></a>
    <a href="<%- url_for() %>"><img class="img1" src="/avatar.jpg" alt="<%= config.title %>"></a>
</div>
  <%- partial('partial/bottom') %>
