<div class="post">
  <div class="mid" data-600="opacity:0;" data-680="opacity:1;" data-800="opacity:0;">
    <time class="time_dot_date" datetime="<%= date(post.date) %>">
      <%= date(post.date) %>
      <div class="time_dot"></div>
    </time>

  </div>
  <div class="left" data-0="opacity:0;margin-left:-120px;margin-top:50px;" data-600="opacity:1;margin-left:80px;margin-top:0;">
    <div class="arrow_side"></div>
    <article>
      <h2><a href="<%- url_for(post.path) %>"><%= post.title %></a></h2>
      <section>
        <% if (post.excerpt && index){ %>
        <%- post.excerpt %>

          <a class="article-more-link" href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>

        <% } else { %>
        <%- post.content %>
        <% } %>
      </section>
      <section class="meta">
        城市: <%- list_categories(post.categories, {
          show_count: false,
          style: 'none'
        }) %>
        , 标签: <%- list_tags(post.tags, {
          show_count: false,
          style: 'none'
        }) %>
      </section>
    </article>
  </div>
  <div class="right">
    <div class="arrow_side"></div>
    <div class="figure"  data-0="opacity:0;left:160px;top:50px;" data-600="opacity:1;left:0;top:0;">
      <div class="bg_img" style="background-image: url(/1.jpg)"></div>
    </div>
  </div>
</div>