<div class="top">
    <a href="<%- url_for() %>"><img src="/avatar1.jpeg" alt="<%= config.title %>"></a>
    <a href="<%- url_for() %>"><img class="img1" src="/avatar3.jpg" alt="<%= config.title %>"></a>
</div>
<%- partial('partial/info') %>
<% page.posts.each(function(post){ %>
<%- partial('partial/archive', {post: post, index: true}) %>
<% }) %>
